<div class="site-wrapper">
  <h4 id="utc-text">Current UTC Offset: <span class="timezone-display"></span></h4>
  <div class="site-container">
    <h1>Is the Moon void of course ?</h1>
    <h2 class="void-message"></h2>
    <h3 class="next-void-message"></h3>
    <h3 class="sign-message">Moon is in <%= @moon %></h3>
    <h4 class="aspect-message"></h4>
    <div class="schedule hidden"><%= @schedule %></div>
    </div>
    <div class="aspects hidden"><%= @aspects %></div>
    <div class="moon-image" >
  </div>
</div>
