// Place all the styles related to the moons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');

.hidden {
  display: none;
}

body {
  background-color: rgba(79, 92, 173, 1.00);
  color: white;
  font-family: 'Lekton', sans-serif;
  padding: 0;
  margin:0;
  // in a media query for iphone:
}


.site-wrapper {
  min-height: 100vh;
}

h1, h2, h3 {
  text-align: center;
}

h2 {
  font-size: 100px;
}

.moon-image {
  background: url(asset_path('moon.png'));
  height: 700px;
  width: 100vw;
  background-position:top;
  background-repeat: no-repeat;
  // in a media query for iphone:
}

.hidden {
  display: none;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {

  .moon-image {
    position: absolute;
    bottom: 0;
  }
  .site-container {
    padding:80px;
    position: relative;
  }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
  .moon-image {
    position: absolute;
    bottom: 0;
  }
  .site-container {
    padding:80px;
    position: relative;
  }
}
